#hero-photo-one {
    background-image: url("/photos/hero_photo_one.jpg");

}

#hero-photo-two {
    background-image: url("/photos/hero_image_four.jpg");

}

/* .card-header {
    padding: 20px;
}

.post-body {
    padding: 20px;
}

.dream-title {
    padding: 20px;
}

.newPostTitle {
    padding: 20px;
}

.post-date {
    margin-left: 300px;
}

.post-category {
    margin-right: 10px;
} */