#hero-photo-one {
    background-image: url("/photos/what-the-hex-dark.png");

}

#navbar_black {
    background-image: url("/photos/what-the-hex-dark.png");

}

#hero-photo-two {
    background-image: url("/photos/hero_image_four.jpg");

}

#card-body {
    border: none;
}

#label-font {
    color: white;
}
